<mat-card
class="profile-popup__wrapper profile-popup__wrapper_{{appTheme$ |async}}">
    <div
    >{{ (userProfile$ | async)?.displayName}}</div>

    <div
    class="profile-popup__info">
        <span>E-mail:</span>
        <span>{{ (userProfile$ | async)?.mail}}</span>
    </div>

    <mat-divider></mat-divider>

    <div>
        <mat-slide-toggle
        [labelPosition]="'before'"
        color="primary"
        [checked]="(appTheme$ | async) === 'dark'"
        (change)="toggleTheme($event)">Dark mode</mat-slide-toggle>
    </div>

    <button
    class="profile-popup__logout-button"
    mat-flat-button
    color="primary"
    (click)="logout()">Log Out</button>
</mat-card>