@import 'variables';

:host {
    position: absolute;
    right: 0;
    top: $global-header-height + 2px;

    height: 190px;
    margin: 0 20px;

    color: #272C39;
    font-family: Roboto;
    font-size: 14px;
    letter-spacing: 0.48px;
    line-height: 20px;

    div {
        padding: 10px 20px;
    }

    div:first-of-type {
        padding-top: 22px;
        font-weight: 500;
    }
}

@media screen and (min-width: 600px) and (max-width: 1920px) {
    :host {
        width: 360px;
    }
  }
  
@media screen and (min-width: 320px) and (max-width: 599px) {
    :host {
        left: 0;
    }
  }

.profile-popup {
    &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.2);
    }

    &__wrapper_dark {
        background-color: #2D3443;
        color: white;
    }

    &__theme-switcher {
        height: 60px;
        border-top: solid 1px;
        display: flex;
        align-items: center;
        padding: 0 20px;
    }

    &__theme-switcher_light {
        border-top-color: #C7D0D8;
    }

    &__theme-switcher_dark {
        border-top-color: #5E6670;
    }

    &__info {
        display: flex;
        justify-content: space-between;
    }

    &__logout-button {
        width: 100%;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
}

::ng-deep {
    .mat-slide-toggle {
        width: 100%;
    }

    .mat-slide-toggle-label {
        width: 100%;
        justify-content: space-between;
    }

    .mat-card {
        padding: 0 !important;
    }

/*     .mat-slide-toggle-bar {
        transform: rotate(180deg);
    } */

    /* revert toggle */

/*     .mat-slide-toggle.mat-checked .mat-ripple-element {
        background-color: #000;
      }
      
    .mat-slide-toggle:not(.mat-checked) .mat-ripple-element {
        background-color: #ffd740;
      }
      
    .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
      background-color: #fff;
      }
      
    .mat-slide-toggle-thumb {
        background-color: #ffd740;
      }
      
    .mat-slide-toggle-bar {
         background-color: rgba(255,215,64,.54);
      }
      
    .mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
        background-color:rgba(0,0,0,.38);
      } */
}
