@import 'variables';

.container {
	&__title {
		width: 100%;
		text-align: center;
		background-color: gray;
	}

	&__container-header {
		height: $global-header-height;
		width: 100%;
		background-color: #39414D;

		&_black {
			background-color: #39414D;;
		}
    }
}


