@import 'variables';

.container {
	&__title {
		width: 100%;
		text-align: center;
		background-color: gray;
	}
}

.radars-app {
    &__global-header-container {
		height: $global-header-height;
		width: 100%;
		background-color: #39414D;
    }
}
